.error__title {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20%;
  font-family: "Times New Roman", Times, serif;
}

.back__link {
  text-decoration: none;
  color: black !important;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
}
