@media screen and (max-width: 580px) {
  h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .nav__item {
    padding-right: 7px !important;
    padding-left: 7px !important;
    font-size: 15px;
  }
}

img {
  object-fit: cover;
  animation: from-right 1.5s ease;
}
h2 {
  text-align: center;
  padding: 3rem;
  padding-bottom: 0;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}

.py-3 {
  padding-top: 3.5rem !important;
  padding-bottom: 0 !important;
}
